
.square {
width: 70px;
height: 70px;
 }

 .box1{
  width: 220px;
  height: 220px;
 }
 .box2{
  width: 150px;
 }

.board-row:after {
  clear: both;
  content: "";
  display: table;
 }

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: initial;
  flex-direction: row;
  margin: 0 auto;  
  margin-top: 50px;
 }
